<% content_for :title, "Editing next action" %>

<h1>Editing next action</h1>

<%= render "form", next_action: @next_action %>

<br>

<div>
  <%= button_to "Destroy this next action", @next_action, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this next action?" } %>
  <%= link_to "Back to next actions", next_actions_path %>
</div>
