<p style="color: green"><%= notice %></p>

<% content_for :title, "Next actions" %>

<h1>Next actions</h1>

<div id="next_actions">
  <ul>
    <% @next_actions.each do |next_action| %>
      <li><%= render next_action %></li>
    <% end %>
  </ul>
</div>

<%= link_to "New next action", new_next_action_path %>
