<% content_for :title, "Next action" %>

<%= render @next_action %>

<div>
  <%= link_to "Back to all next actions", next_actions_path %>
  <%= button_to "Destroy this next action", @next_action, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this next action?" } %>
</div>
