<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%== render_markdown(project.body) %>
  </p>

  <p>
    <strong>Waiting for:</strong>
    <%= project.waiting_for %>
  </p>
</div>
