<li>
  <% if local_assigns[:with_area] %>
    (<%= project.area %>)
  <% end %>

  <%= link_to project.name, project_path(project) %>

  <% if project.active? %>
    <% if project.next_actions.none? %>
      -- No next actions
    <% end %>
  <% end %>

  <% if project.waiting_for.present? %>
    -- Waiting for <%= project.waiting_for %>
  <% end %>
</li>
