<% content_for :title, "Editing inbox item" %>

<h1>Editing inbox item</h1>

<%= render "form", inbox_item: @inbox_item %>

<br>

<div>
  <%= link_to "Back to inbox items", inbox_items_path %>
</div>
