<p style="color: green"><%= notice %></p>

<% content_for :title, "Inbox" %>

<h1>Inbox</h1>

<p>You have <%= @inbox_item_count %> items in your inbox</p>

<div id="inbox_items">
  <% if @inbox_item.present? %>
    <%= render @inbox_item %>
  <% end %>
</div>

<%= link_to "New inbox item", new_inbox_item_path %>
